---
layout: base
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h2 Sessions from 2013
      %h5
        :markdown
          * [JBoss Dev Day London 2013] (jboss_dev_day_london.html)
          * [Devoxx 2013] (devoxx2013_openshift.html)
          * [JAX London 2013 (workshop)] (jaxlondon2013_openshift.html)
          * [GOTO Aarhus 2013] (gotoaarhus2013_openshift.html)
          * [Webinar July 2013 - Are you ready to rumble with JBoss Integration & BPM] (webinar_ready_to_rumble.html)
          * [JUDCon 2013 Boston] (judconindex.html)
