---
layout: base
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h2 Presentations
      %h5
        :markdown
          * [JBoss Dev Day London 2013] (jboss_dev_day_london.html)
          * [Devoxx 2013] (devoxx2013_openshift.html)
          * [JAX London 2013 (workshop)] (jaxlondon2013_openshift.html)
          * [2013 Collection] (collection2013.html)

    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
