---
layout: judconbase
---

.slides
  %section.title(data-state="judcon2013" )
    .title-information
      %h2 OpenShift Primer
      %h4 get your JBoss in the Cloud
      %h5
    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell

  %section(data-state="judcon2013" )
    .title-information
    %h2 First things first,
    %h2 sign up!
    :markdown
      [http://openshift.redhat.com] (http://openshift.redhat.com) promotional: JUDCON
      <div style="float: right">
        <img height="430" width="500" src="/images/sign-up.png" />
      </div>

  %section(data-state="judcon2013" )
    .title-information
    %h2 A Little History
    :markdown
      * Nov 2010: Makara acquired
      * In 2011: merged into OpenShift project
      * May 2012: Open Sourced OpenShift
        * LiveCD launched for local PaaS
        * GitHub code base
        * Activity blogs, howto's, quickstarts, webinars
      * June 2012: OpenShift State of the Union
      * Dec 2012: OpenShift Primer (e-book)

  %section(data-state="judcon2013" )
    .title-information
    %h2 JUDCon PaaS Training
    :markdown
      <div align="left">
      #### Day 1
        * 1000 hrs - Getting started with OpenShift Origin (workshop, Diane)
        * 1530 hrs - OpenSource Middleware in the OpenShift PaaS (William (aka Bill))

      #### Day 2
        * 1330 hrs - Do you want to be a JBoss Rock Star?

  %section(data-state="judcon2013" )
    .title-information
    %h2 An OpenShift Primer
    :markdown
      <div style="float: right">
        <img src="/images/openshift_primer.png" />
      </div>
      * Amazon
      * Barns&Nobel
      * iTunes
      * Developerpress.com

  %section(data-state="hammers" )
    %h2

  %section(data-state="never-look" )
    %h3.invert Never look back...

  %section(data-state="dev-heaven" )
    .title-information

  %section(data-state="dorking" )
    .title-information

  %section(data-state="judcon2013" )
    .title-information
    %h2 Quickstart
    :markdown
      1. Sign up
      2. Install client tools
      3. Create domain
      4. Create application
      5. Deploy application (GIT)

  %section(data-state="judcon2013" )
    .title-information
    %h2 Sign up, it's free!
    :markdown
      * [http://openshift.redhat.com] (http://openshift.redhat.com)
      * Example projects you can deploy now
        * [http://www.github.com/openshift] (http://www.github.com/openshift)
      <div style="float: right">
        <img height="450" width="500" src="/images/sign-up.png" />
      </div>
      * Help
        * IRC freenode #openshift
        * forums
        * email openshift@redhat

  %section(data-state="judcon2013" )
    .title-information
    %h2 Install Client Tools
    :markdown
      * Fedora / RHEL
        * openshift.repo
        * /etc/yum.repos.d
        * sudo yum install rubygem-rhc
      * osX / Windows / Unix
        * gem install rhc
        * see forums or blogs
        <div style="float: right">
          <img src="/images/rhc.png" />
        </div>

  %section(data-state="project-template" )
    .title-information

  %section(data-state="judcon2013" )
    %h2 3. Soaring High
    %h5
    :markdown
      <div style="float: center">
              <img src="/images/cloud-migration.png" />
      </div>

  %section(data-state="judcon2013" )
    %h2 In Action: Customer Evaluation Demo
    %h5
    :markdown
      <div style="float: center">
              <img src="/images/customer-eval.png" />
      </div>

  %section(data-state="judcon2013" )
    %h2 In Action: Many More...
    %h5
    :markdown
      * Rewards Demo - JBoss BPM human tasks integration
      * Home Loan Demo - JBoss BPM / Rules / JBoss SOA
      * Cool Store Demo - JBoss BPM / CEP / Rules / Shopping Cart
      * Car Insurance Demo - JBoss BRMS / BPM / Insurance

  %section(data-state="judcon2013" )
    :markdown
      <div style="float: left">
        <img height="100" width="700" src="/images/references.jpg" />
      </div>
      * <font size="5">__JBoss Rock Star Template Project__ - [_https://github.com/eschabell/jboss-rock-star-template_] (https://github.com/eschabell/jboss-rock-star-template)</font>
      * <font size="5">__Customer Evaulation Demo__ - [_https://github.com/eschabell/brms-customer-evaluation-demo_] (https://github.com/eschabell/brms-customer-evaluation-demo)</font>
      * <font size="5">__Rewards Demo__ - [_https://github.com/eschabell/brms-rewards-demo_] (https://github.com/eschabell/brms-rewards-demo)</font>
      * <font size="5">__Cool Store Demo__ - [_https://github.com/eschabell/brms-coolstore-demo_] (https://github.com/eschabell/brms-coolstore-demo)</font>
      * <font size="5">__Car Insurance Demo__ - [_https://github.com/eschabell/brms-car-insurance-demo_] (https://github.com/eschabell/brms-car-insurance-demo)</font>
      * <font size="5">__jBPM Migration Project in the Cloud__ - [_https://github.com/eschabell/openshift-jbpmmigration_] (https://github.com/eschabell/openshift-jbpmmigration)</font>

